.content{
    margin-top: 100px;
    padding: 36px 16px;
    margin: 0 auto;
    width: 100%;
    max-width: 1240px;
    display: flex;
   
    justify-content: space-around;
    
}
.texto-base{
    width: 600px;
    padding: 16px;
    
}
.texto-base p{
    text-align: justify;
}
.missao_img{
    
    width: 500px;
}
.missao{
    width: 100%;
    max-width: 1200px;
}