*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;

}

.top{
    display: flex;
    justify-content: space-between;
    padding: 16px;
    background-color:#64d8e2 ;
}
.hero{
 width: 100%;
 height: 300px;
 background-image: url("../img/bg_banner.png");
 background-size:cover;
 background-repeat: no-repeat;
 background: clip -100p;
    
}
.hero .logo{
    width: 100%;
    max-width: 1440px;
    height: 100%;
    max-height: 280px;
    margin: 0 auto;
   
    display: flex;
    justify-content: right;
}
.logo img{
    width: 100%;
    height: 100%;
    max-height: 250px;
    max-width: 450px;
    margin-right:15px;
     
}
.redes_sociais{
    display: flex;
    width: 250px;
    justify-content: space-around;
}
.redes_sociais .bi{
    font-size: 32px;
}
.color-bar{
   
    padding-left: 150px;
    background: rgb(18,129,139);
background: linear-gradient(0deg, rgba(18,129,139,1) 0%, rgba(166,237,243,1) 100%);
}
.nav-link{
    color: red;
    font-size: 18px;
    font-weight: bold;
}
.flex{
    margin-top: 100px;
    margin-bottom: 150px;
    padding: 40px;
    display: flex;
    justify-content:space-around;
    height: 350px;
    
}
.texto{
    width: 350px;
    text-align: justify;
}
.texto a{
    text-decoration: none;
    font-weight: bold;
}

.slide-container{
    z-index: -1;
    width:400px;
    height: 300px;
    
}

.missao{
    padding: 32px;
    width: 100%;
    max-width: 600px;
}
.bussiness{
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-around;
}

.footer{
    border-top: 3px solid #a52a2a;
    height: 350px;
    max-height: 200px;
    background-color: #64d8e2;
}
.fone{
margin-right: 10px;
}
.fone .bi{
    font-size: 22px;
}
.fone span{
    margin-left: 16px;
    font-size: 18px;
    font-weight: bold;
}
@media screen and (max-width: 700px) {
    .flex {
      display: block;
    }
    .missao{
        margin-top: 350px;
    }
    .fone{
        display: none;
        }
        
  }
  